.edit-container {
  width: 90%;

  margin: auto;
  padding: 10px 10px;
}

.edit-container h2 {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #333;
  padding: 10px 10px;
  margin-right: 67%;
}

.edit-info {
  width: 90vw;
}
.edit-container h2::before {
  content: "";
  position: absolute;
  left: 22%;
  bottom: -7px;
  height: 3px;
  width: 210px;
  border-radius: 8px;
  background-color: orange;
}
form .left {
  display: flex;
  width: 50%;
  height: 500px;
  padding: 10px;
}
.edit-container form .fields {
  display: flex;
  align-items: center;
  //   justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  flex: 2;
  width: calc(100% / 2 - 10px);
  flex-direction: column;
  padding: 30px 0;
  width: 100rem;
  max-width: 20%;
}

.input-field label {
  font-size: 20px;
  font-weight: 500;
  color: #2e2e2e;
  padding: 0 5px;
}
.input-field input,
select {
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 0 15px;
  height: 45px;
  margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
  box-shadow: 0 1px 10px 0 rgb(151, 215, 151);
}

.input-field select:is(:focus, :valid) {
  box-shadow: 0 1px 10px 0 rgb(151, 215, 151);
}

// .edit-container form button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// //   height: 45px;
// //   width: 80px;
//   max-width: 200px;
//   background-color: black;
//   color: white;
//   border-radius: 10px;
//   box-shadow: 2px 3px 9px 4px #d5d5d5;
// }

.edit-container form button:hover {
  background-color: rgb(110, 187, 110);
}

form .buttons {
  display: flex;
  padding: 0 7rem;
  width: 45%;
}

// form .buttons button {
//   margin-right: 30px;
//   width: 20%;
// }
.backBtn,
.submitBtn {
  width: 20vw;
  background-color: orange;
  margin-left: 10px;
}
// @media screen and (min-width: 784px) {
//   .edit-container {
//     width: 90%;
//   }

//   .left {
//     margin-right: 20px;
//   }
// }

@media (max-width: 688.9px) {
  .edit-container {
    width: 90%;
  }
  .fields {
    justify-content: none;
    width: 100%;
  }
}
@media (max-width: 390.9px) {
  .edit-container {
    width: 90%;
  }
  .fields {
    justify-content: none;
    width: 100%;
  }
}
