body {
  background-color: rgb(236, 236, 236);
}
@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container {
    display: flex;
  }
}
div {
  display: block;
}

.user-message {
  text-align: center;
  color: red;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.login__icon {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  right: 30px;
  bottom: 37.5px;
  color: #2691d9;
}
// .login__icon {
// 	position: absolute;
// 	bottom: 36.8rem ;
//   left: 43rem;
//   width: 50px;
//   color: #2691d9;

.input-container {
  text-align: center;
  padding: 0 0 20px 0;
}

.login_form {
  width: 60%;
}

.login_test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #444943;
  width: 40vw;
  height: auto;
  margin: auto;
  margin-top: 88px;
}
.btn_login {
  background-color: orange;
  color: #fff !important;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 0 !important;
  box-shadow: 6px 4px 9px 4px #d5d5d5;
}

.btn_login:hover {
  background-color: rgb(135, 59, 24);
}
.button_login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

// .test{
//   margin-top: 50px;

//   background: white;
//   border-radius: 10px;
//  border: solid ;
//  border-color: white;
// }

.input_group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40px;
  opacity: 0.5;
  border-radius: 8px;
  border: none;
  margin-top: 25px;
}
.error {
  color: white;
  font-size: 15px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button {
  border: none;
}

.btn-new {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
  width: 20%;
  text-transform: uppercase;
  height: 40px;
  background-color: #2691d9;
  color: white;
  border-radius: 30px;
  border-color: rgba(110, 105, 105, 0.225);
  font-weight: 700;
  cursor: pointer;
}

.btn-new:hover {
  background: aliceblue;
  color: #2691d9;
  transition: 0.5s;
  border-color: rgba(110, 105, 105, 0.225);

  cursor: pointer;
}
.welcome_text {
  text-align: center;
  // margin-top: 5%;
  // margin-left: 46%;
  color: #2691d9;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 30px;
  //background-color: #2691d9;
  //  width: 10rem;
  // height: 70px;
  // padding: 25px;
}

a {
  text-decoration: none;
  color: #2691d9;
}

.Singup {
  margin-bottom: 20px;
  text-align: center;
  margin: 10px 0;
  margin-top: 20px;
}
.input__field {
  border: none;
  border-bottom: 1px solid silver;
  margin-top: 25px;
  width: 100%;
  padding: 20px 20px;
  font-size: 1.15rem;
}
.input__field:active,
.input__field:focus {
  border: none;
  border-bottom: 1px solid green;
  outline: none;
}
.input-container input:focus-visible {
  border: none;
  border-bottom: 1px solid green;
}

.Singup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #2691d9;
}

.Singup_link a {
  color: #2691d9;
  text-decoration: none;
}

.singup_link a:hover {
  text-decoration: underline;
}

@media (max-width: 530px) {
  .login_test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #444943;
    width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 88px;
  }
}

@media (max-width: 1180px) {
  .login_test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #444943;
    width: 70vw;
    height: auto;
    margin: auto;
    margin-top: 88px;
    padding: 2rem 0px;
  }
}
