.shop {
  width: 100%;
  background: url("../Img/pasta44.jpg");
  height: 450px;
  // background-attachment: fixed;
  // background-size: cover;
  // background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.shop_text {
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: flex-start;
  margin: 0 auto;
  color: #fff;
}
.pizza-h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #fff;
}

.pizza-p {
  font-size: 16px;
  margin-top: 20px;

  line-height: 2px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #fff;
}
.pizza-button {
  margin-top: 35px;
  border: 1px solid #e67e22;
  text-decoration: none;
  color: #e67e22;
  font-weight: 400;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 30px;
  background-color: #e67e22;
  color: #fff;
}
.shop_wrapper {
  margin-left: -20rem;
}

@media (max-width: 700px) {
  .pizza-h1 {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    width: 91%;
  }
  .pizza-p {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    width: 91%;
  }

  .pizza1 {
    padding-left: 20px;
  }
  .shop_wrapper {
    margin-left: 0rem;
  }
}
@media (max-width: 350px) {
  .pizza-h1 {
    padding-left: 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    width: 91%;
  }
  .pizza-p {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    width: 91%;
  }
  .pizza1 {
    padding-left: 30px;
  }
  .shop_wrapper {
    margin-left: 0rem;
  }
}
// @media (max-width: 1280px) {
//     .pizza-h1 {
//         padding-left:40px;
//         font-size: 50px;
//         font-weight: 700;
//         line-height: 65px;
//         width: 150%;
//     }
//     .pizza1  {
//         padding-left:30px;
//         font-size: 30px;
//     }
// }
