.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  text-align: center;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
.userContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.logout_admin {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.button_logout {
  border-radius: 5px;
  border: none;
  padding: 7px;
  width: 20%;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 600;
}
.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.userShowTop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userShowTop_left {
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img.userImg {
  border-radius: 60%;
}
.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
  font-size: 1.5rem;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
.update_info {
  font-size: 14px;
  color: #a50606;
  margin: -7rem 0 0 0;
}

@media (max-width: 1470.9px) {
}

@media (max-width: 1110.9px) {
}

@media (max-width: 998.9px) {
  .userContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 40px;
  }
  .userUpdate {
    margin-left: 0;
  }
  .userShowBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 572.9px) {
  .userUpdateForm {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .update_info {
    font-size: 14px;
    color: #a50606;
    margin: 0.2rem;
  }
  .userUpdateUpload {
    margin: 15px 0;
  }
  .button_logout {
    width: 100%;
  }
}

.errorMessage {
  font-size: 12px;
  color: red;
}
