.Container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f4ed;
}

.Container2 {
  padding: 50px 80px;
  line-height: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //text-align: center;
  background-color: #fff;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.Container2text {
  padding: 10px 60px;
}

.Container2textt {
  padding: 10px 60px;
}

.Container3 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  font-size: 2rem;
}

.fullproject {
  background-color: #fff;
  width: 100vw;
}

.left1 {
  padding: 50px 50px;
  margin: 40px 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 1 / 2;
  font-size: 2rem;
  text-align: center;
  position: relative;
  margin-top: 2rem;
}

.p_maestro1 {
  font-size: 1.2rem;
  //margin-top: rem;
  line-height: 2rem;
  display: flex;
}

.inside {
  position: relative;
  top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right1 {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.foodorder {
  width: 60%;
}

.text4 {
  padding-right: 20px;
  position: relative;
  bottom: 6px;
  // color: #e67e22;
}

.btn1 {
  color: #fff;
  background-color: #adbd9b;
  font-size: 16;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
}

.Container4 {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.first {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #f9f4ed;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.orderapp {
  color: #4ab421;
}

.orderapptext {
  line-height: 1.5rem;
  font-size: 1.2rem;
  padding-top: 2.5rem;
}
.icon {
  height: 4rem;
  width: 4rem;
}

.footer1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  grid-row: 1;
  background: url("../Img/footer.png");
  background-color: #fff;
  height: 900px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 93rem; /* Resize the background image to cover the entire container */
}

.lefttext {
  color: #f9f4ed;
}

.text444 {
  color: #fff;
  padding: 10px 10px;
}

.footertext {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 50px 10px 10px 110px;
  padding-top: 10px;
  padding-left: 15rem;
}

.footertext1 {
  justify-content: center;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.footertext2 {
  color: white;
  padding-top: 1rem;
  padding-left: 9rem;
}

.righttext11 {
  color: white;
  padding-right: 10rem;
  padding-top: 1rem;
}

.btn11 {
  color: #fff;
  background-color: #adbd9b;
  font-size: 22;
  text-align: center;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
}

.footerrighttext {
  padding-top: 7rem;
}

.footerbutton {
  padding-top: 3rem;
  padding-right: 10rem;
}

.footerlefttext {
  padding-top: 13rem;
}

.copyright {
  padding-top: rem;
  padding-left: rem;
}

@media (max-width: 1024px) {
  .fullproject {
    width: 100vw;
  }
  .Container1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .left1 {
    padding: 18px 50px;
    margin: 40px 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/2;
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-top: 2rem;
  }
  .right1 {
    margin-top: 1rem;
    padding-left: 4.3rem;
    display: flex;
    width: 100%;

    align-items: center;
    position: relative;
    margin-bottom: 4rem;
  }
  .foodtextaboutus {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .btn1 {
    color: #fff;
    background-color: #adbd9b;
    font-size: 16;
    border-radius: 50px;
    height: 38px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 152px;
  }
  .foodorder {
    width: 60%;
  }

  .text4 {
    font-size: 1.3rem;
    padding-bottom: rem;
  }

  .p_maestro1 {
    font-size: 12px;
  }
  .Container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    text-align: justify;
  }
  .Container2text {
    font-size: 0.9rem;
  }
  .Container2textt {
    font-size: 0.9rem;
  }

  .Container4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1rem;
    text-align: justify;
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    flex-wrap: wrap-reverse;
    padding: 30px 80px 0px 20px;
    justify-content: space-between;
  }

  .right {
    display: none;
  }

  .footertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footertext2 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .fullproject {
    width: 100vw;
  }

  .Container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    display: none;
  }
  .footertext {
    justify-content: center;
    align-items: center;
    padding: 0rem;
    padding-top: 10px;
    padding-left: 0rem;
  }
}

@media (max-width: 390.9px) {
  .Container4 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .p_maestro1 {
    text-align: justify;
  }
  .footertext {
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
  }
}
